PRODUCT_NAME = ReCon
PRODUCT_BUNDLE_IDENTIFIER = com.drapnard.recon
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 0.12.1
IPHONEOS_DEPLOYMENT_TARGET = 18.0
SWIFT_VERSION = 5.10
INFOPLIST_FILE = ReConNative/Resources/Info.plist
ASSETCATALOG_COMPILER_APPICON_NAME =
CODE_SIGN_STYLE = Automatic
ENABLE_USER_SCRIPT_SANDBOXING = YES
